In [1]:
import pandas as pd

In [3]:
df_train = pd.read_csv('../data/train.csv')

In [6]:
len(df_train)

18524

In [8]:
df_train.columns

Index(['id', 'Time_spent_Alone', 'Stage_fear', 'Social_event_attendance',
       'Going_outside', 'Drained_after_socializing', 'Friends_circle_size',
       'Post_frequency', 'Personality'],
      dtype='object')

In [5]:
df_train.head()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,2,6.0,Yes,1.0,0.0,NaN,3.0,0.0,Introvert
3,3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert

In [9]:
df_train.Personality.value_counts()

Personality
Extrovert    13699
Introvert     4825
Name: count, dtype: int64

In [11]:
df_train.Personality.value_counts(normalize=True)

Personality
Extrovert    0.739527
Introvert    0.260473
Name: proportion, dtype: float64

In [12]:
df_sample = pd.read_csv('../data/sample_submission.csv')

In [14]:
df_sample.head()

      id Personality
0  18524   Extrovert
1  18525   Extrovert
2  18526   Extrovert
3  18527   Extrovert
4  18528   Extrovert

In [15]:
df_sample.Personality.value_counts()

Personality
Extrovert    6175
Name: count, dtype: int64